name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  tests:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.9"]
        aesara-or-theano:
          - "theano==1.0.5"
          - "theano-pymc==1.0.11"
          - "theano-pymc"
          - "aesara"
          - '"pymc3==3.11.1" "aesara"'
          - "https://github.com/pymc-devs/aesara/archive/master.zip"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install ${{ matrix.aesara-or-theano }}
          python -m pip install ".[test]"

      - name: Run the unit tests
        run: python -m pytest -v tests

  build:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9"

      - name: Build
        run: |
          python -m pip install -U pip
          python -m pip install -U build
          python -m build .

      - name: Test the wheel
        run: |
          python -m pip install twine
          twine check dist/*

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  upload_pypi:
    needs: [tests, build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          # To test: repository_url: https://test.pypi.org/legacy/
